$naranja: #ffb057
$azul: #003748
$azul-fondo: #013a4d
$gris: #eeeeee

.mt-10
	margin-top: 10px
.mt-30
	margin-top: 30px
.mt-50
	margin-top: 50px
.mb-10
	margin-bottom: 10px
.mb-30
	margin-bottom: 30px
.mb-50
	margin-bottom: 50px

.back-blue
	background-color: $azul-fondo
.naranja
	color: $naranja
.white
	color: white
.fira
	font-family: 'Fira Mono'
.mayus
	text-transform: uppercase
body
	font-family: 'Raleway'
	background: white
	color: black
	border-radius: 0
	border: none
header
	padding: 0
	margin: 0
.bold
	font-weight: bold
.site-header
	background: transparent
.navbar
	padding: 1.5rem 1rem
.logo-submit
	width: 30px
	height: auto
	display: block
.navbar-toggler
	border: none
	border-radius: 0
	padding: 0
h1
	color: red
	border: none
.banner-main
	background: black
	height: 350px
	width: 100%
	background: url(../images/fondo_inicio.png) no-repeat center center
	background-size: cover
	display: flex
	justify-content: center
	text-align: center
	flex-flow: column
	margin-top: -50px
	h1
		font-size: 2em
		text-align: center
		color: white
	h2
		font-size: 1.2em
		text-align: center
		color: white
.btn-servicios
	background: $naranja
	color: white
	border-radius: 25px
	padding: 10px 20px
	width: 190px
	font-size: 1.1em
	display: inline-block
	margin-top: 20px
.hello
	margin: 30px 0 50px 0
	.lets-build
		margin-bottom: 20px
		text-align: center
		color: $naranja
	.intro
		font-size: 1.3em
		text-align: center
	.desarrollamos
		text-align: center
.service
	margin-bottom: 30px
	.inner-container
		width: 99%
		margin: 0 auto
		padding: 40px 20px
		-webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,1)
		-moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,1)
		box-shadow: 0px 0px 10px 5px rgba(204,204,204,1)
		border-bottom: 4px solid $azul
		transition: all .5s ease
		&:hover
			width: 100%
			transition: all .2s ease
			border-bottom: 4px solid $naranja
	.title
		margin-bottom: 10px !important
		text-align: left
		font-weight: bold
	.description
		margin-bottom: 20px
	.ver-mas
		a
			color: black
.services-list
	li
		display: inline-block
		margin: 5px
		a
			padding: 5px 10px
			color: white
			font-size: .8em
			&.active
				background-color: $naranja
.portfolio
	.block-50
		width: 100%
		display: inline-block
		float: left
		.project
			width: 100%
			height: 200px
			display: block
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			margin-bottom: 20px
input.form-control
	border-radius: 0
	border: none
	background-color: $gris
	padding: 10px
textarea.form-control
	resize: none
	border-radius: 0
	border: none
	background-color: $gris
	padding: 10px
input[type="submit"]
	&.btn-enviar-mail
		background-color: $naranja
		color: white
		border-radius: 25px
.form-group
	position: relative
.form-group.error
	input.form-control
		border: 1px solid rgba(red, .6)
		transition: all .5s ease
.text-danger
	display: none
.sent_mail_alert
	background-color: $naranja
	color: white
	padding: 30px 20px
	width: 100%
	bottom: 80px
	position: absolute
	font-size: 1.2em
	display: none
#map
	background-color: #EEEEEE
	margin: 0
	height: 250px
.more-text
	height: auto
	&.hidden
		height: 0px
		overflow: hidden
footer
	text-align: center
	padding-bottom: 0
.site-footer
	background-color: $azul-fondo
	padding: 30px 0
.social-links-footer
	margin: 0 0 20px 0
	display: flex
	flex-flow: row
	justify-content: center
	li
		display: flex
		justify-content: center
		align-items: center
		margin: 0 10px
		width: 40px
		height: 40px
		background-color: gray
		border-radius: 50%
		img
			height: 20px
			width: auto
			display: block
.to-top
	width: 40px
	height: auto
	display: block
	position: fixed
	right: 20px
	bottom: 160px
	z-index: 10
	img
		width: 100%
		height: auto
		display: block
@media screen and (min-width: 768px)
	.the-content.container
		margin-top: 50px
	.hello
		margin-top: 0
	.service
		.title
			font-size: 1.8em
	.portfolio
		display: flex
		justify-content: space-between
		align-content: space-between
		.block-50
			width: 49%
			display: inline-block
			float: left
			.project
				width: 100%
				height: 315px
				display: block
				background-size: cover
				background-position: center center
				background-repeat: no-repeat
				margin-bottom: 20px
				&._25
					height: 150px
					width: 47.5%
					margin: 0 1% 15px 1%
					display: inline-block
			&.second-one
				background-color: transparent
	textarea.form-control
		margin-top: 10px
	.sent_mail_alert
		padding: 30px 120px
		font-size: 1.4em
	#map
		height: 450px
	.to-top
		width: 50px
		right: 30px
		bottom: 130px
@media screen and (min-width: 1200px)
	.banner-main
		height: 550px
		h1
			font-size: 3.4em
		h2
			font-size: 2.2em
	.btn-servicios
		font-size: 1.4em
	.middle-aligner
		display: flex
		align-items: center
	.hello
		.naranja
			text-align: left
			font-size: 1.4em
		.intro
			text-align: left
			font-size: 1.9em
		.desarrollamos
			text-align: left
			font-size: 1.4em
		.text-center
			text-align: left
			font-size: 1.4em
			float: left
	.services-list
		margin-top: 20px
		li
			display: inline-block
			margin: 5px
			a
				padding: 10px 15px
				color: white
				font-size: 1.2em
				&.active
					background-color: $naranja
	.portfolio
		.block-50
			width: 49.5%
			display: inline-block
			float: left
			.project
				width: 100%
				height: 540px
				&._25
					height: 260px
					margin-bottom: 20px
	h2.title-contact
		font-size: 3em
	.sent_mail_alert
		padding: 40px 200px
		font-size: 1.5em
	.to-top
		width: 60px
		right: 40px
		bottom: 135px